<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessProject.Properties.Settings.SmartParkingConnectionString"
            connectionString="Data Source=BAYYA-LAPTOP;Initial Catalog=SmartParking;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	
</configuration>